
.Logo{
    width: 120px;
    height: 100px;
}

.Gast{
    width: 70px;
    height: 70x;
    float: right;
    margin-top: 20px;
}

.introkaart{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.kaart-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.kaart {
    width: 700px;
    height: 700px;
    transform: rotate(90deg);
    flex-shrink: 0;
    margin-top: 25px;
}

.Search{
    border-radius: 25%;
    background-color: lightgreen;
}

.navfooter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    
}

.NF{
    width: 80px;
    border-radius: 25%;
}
.NG{
    width: 100px;
    border-radius: 25%;
}

@media(min-width:500px){
    .navfooter{
    gap: 9em;

}
}

.tb, .wd{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 55px;
    width: 150px;
    border-radius: 25%;
}